/* HTML Tags/Elements Styles */
h1, h3, h4, h5, h6 {
    padding-bottom: 1px;
    padding-left: 5%;
}

h2 {
    position: sticky;
    text-align: left;
    margin: auto 45px;
    padding: 10px 0;
} 

input[type=text], input[type=password] {
    text-align:left;
    display: block;
    margin: 0.5em auto 0.5em auto;
    padding: 5px;
    min-width: 15em;
    max-width: 25em;
    min-height: 2em;
    max-height: 3em;
}

input {
    height: 4.5%;
    border: 0 none;
    outline: 0;
}

select {
    height: 4.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: helvetica, arial;
    background-color: #E3B4B4;
}

label {
    font-weight: bold;
}

select, input, textarea {
    color: gray;
    border-color: white;
    border-radius: 12px;
}

button {
    background-color: #B22828;
    color: white;
    border-color: #B22828;
    border-radius: 10px;
    width: 4%;
    height: 4%;
}

/* Custom class styles*/

.center-box {
    min-width: 60%;
    max-width: 80%;
    min-height: 60%;
    max-height: 80%;
    margin: auto;
    padding: 1px;
    display: block;
    outline-color: #3D4244;
    background-color: #FFC8C8;
}

.input-field {
    display: inline-block;
    width: 80%;
    height: 5%;
    margin: 0 auto;
    padding: 1px;
    border-radius: 10px;
    border: 0px solid;
    outline-color: #3D4244;
    background-color: #FFFFFF;
}

.forgot-password {
    text-align: left;
    display: block;
    color: aliceblue;
    padding: 0% 0% 0% 55%;
}

.discrete-link {
    text-align: center;
    display: block;
    color: aliceblue;
}

.categoria{
    width: 13%;
}

.medida, .var-padrao{
    width: 10%;
}

.outras-categorias, .substitutos {
    width: 20%;
}

.header-tipo1 {
    background-color: #B22828;
    color: white;
    font-family: helvetica rounded;
}
    
.outras-categorias, .substitutos{
    width: 20%;
}

.header-tipo1 {
    background-color: #B22828;
    color: white;
    font-family: helvetica rounded;
    height: 48px;
    min-height: 48px;
}

.imagem-quadrado {
    width: 6%;
    height: 12%;
}

.imagem-centralizada {
    display: block;
    margin: auto auto;
}

.fundo-rosa {
    background-color: #E3B4B4;
}

.fundo-branco {
    background-color: white;
}

.padding{
    padding: 2%;
}

.imagem-seta {
    position: fixed;
    margin: auto -5;
    padding: 4 0;
    width: 52px;
    height: 42px;
}

.imagem-easycook {
    position: fixed;
    margin: auto -5;
    padding: 4 8;
    width: 98px;
    height: 88px;
}

#tabela {
    width: 20%;
    height: 24%;
    font-family: helvetica rounded;
    font-size: 1.3em;
    border-radius: 12px;  
    border: 1px solid #dbdbdb; 
    padding: 0.8%;
}

.login-button {
    background-color: #B22828;
    color: white;
    border-color: #B22828;
    border-radius: 10px;
    text-align:center;
    font-family: helvetica rounded;
    display: block;
    margin: 1em auto;
    min-width: 15em;
    max-width: 15em;
    min-height: 2em;
    max-height: 6%;
    padding: 0% 0%;
    
}

.footer-menu{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f59393;
    color: white;
    height: 8%;
}