
.Cabecalho.claro{
    background-color: #fa7e7e;
    color: white;
    font-family: helvetica rounded;
    height: 5em;
    width: 100%;
    display: flex;
    text-align: left;
}
.Cabecalho.escuro{
  background-color: #B22828;
  color: white;
  font-family: helvetica rounded;
  height: 5em;
  width: 100%;
  display: flex;
  text-align: left;
}

.Cabecalho .leftSide{
    flex: 1;
    display: flex;
    justify-content: left;
}

.Cabecalho.claro .leftSide button {
    background-color: #fa7e7e;
    border-width: 0px;
}

.Cabecalho.escuro .leftSide button {
  background-color: #B22828;
  border-width: 0px;
}

.Cabecalho .rightSide{
    justify-content: right;
    justify-items: right;
    justify-self: right;
    min-width: fit-content;
    max-width: fit-content;
}

body{
    padding: 0;
    margin: 0;
}

.Cabecalho .leftSide .icone-seta-branca{
    max-height: fit-content;
    width: 65px;
    margin: auto;
    padding: auto;
}

.Cabecalho .leftSide .titulo {
    display: flex;
    flex: 1;
    padding: auto;
    margin: auto;
    font-family: Helvetica rounded, Arial, sans-serif;
}
#popup-3-pontos{
    border: 1px solid white;
    background-color: white;
    max-width: 8em;
    min-width: 8em;
    height: 15%;
    position: fixed;
    left: 71em;
    bottom: 34em;
    box-shadow: 2px 2px 6px rgb(168, 167, 167);
    text-align: center;
    visibility: hidden;
  }
  .preto{
    color: black;
  }
  .vermelho{
    color: rgb(156, 5, 5);
  }
  .preto{
    color: black;
  }
  .cinza{
    color: rgb(100, 100, 100);
    font-family: helvetica rounded;
  }
  #filtro-estoque{
    background-color: white;
    max-width: 16em;
    min-width: 16em;
    height: 19.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 6px rgb(168, 167, 167);
    text-align: left;
    visibility: hidden;
    padding: 1%;
    position: fixed;
    left: 62em;
    bottom: 19em;
    
  }
  .Cabecalho a{
    text-decoration: none;
  }
  .input-nome-filtro{
    font-size: 110%;
    color: rgb(61, 61, 61);
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid rgb(190, 189, 189);
    width: 55%;
  }
  .imagem-filtro-pesquisa, .imagem-filtro-ingrediente, .imagem-filtro-a-z, .imagem-filtro-z-a, .imagem-filtro-categoria{
    width: 14%;
    float: left;
  }
  .filtrar-nome:hover, .filtrar-ingrediente:hover, .filtrar-a-z:hover, .filtrar-z-a:hover, .filtrar-categoria:hover{
    cursor: pointer;
  }
  .select-ingrediente, .select-categoria{
    border: 0 none;
    font-size: 110%;
  }
 
  .Cabecalho .icone-filtro:hover{
    cursor: pointer;
  }
 

#edicao a:link, #edicao a:visited{
  color: white;
}
#edicao{
  position: fixed;
  top: 2%;
  width: 100%;
  right: 3%;
}
.salvar{
  float: right;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  background-color: #f74040;
}
.cancelar{
  float: right;
}
#edicao a{
  padding: 1%;
}
.Cabecalho button:hover {
  cursor: pointer;
}
.icone-tres-pontos, .excluir, .icone-favoritar{
  cursor: pointer;
}
