.Container{
    padding: 4%;
    
}
.quadrado{
    
    max-width: 7em;
    min-width: 7em;
    height: 16%;
    
} 

.categoria{
    height: 31px;
    max-width: 15em;
    min-width: 15em;
    font-size: 98%;
    padding: 5px;
   }
   .medida, .var-padrao{
    height: 31px;
    max-width: 12em;
    min-width: 12em;
    font-size: 98%;
    padding: 5px;
   }
   .outras-categorias, .substitutos{
    height: 31px;
    max-width: 15em;
    min-width: 25em;
    font-size: 98%;
    padding: 5px;
   }
   label{
    font-weight: bold;
    font-family: helvetica rounded;
   }
   select, input, textarea{
    color: gray;
    border-color: white;
    border-radius: 10px;
    font-family: helvetica;
   }
   textarea{
    font-family: helvetica;
    max-width: 24em;
    min-width: 24em;
    height: 100px;
    resize: none;
    font-size: 16px;
   }
   .Container button{
    background-color: #B22828;
    color: white;
    border-color: #B22828;
    max-width: 6em;
    min-width: 6em;
    height: 30px;
    font-family: helvetica;
    font-size: 90%;
    margin-left: 21em;
   }
    input{
     border: 0 none;
     outline: 0;
    }
    select{
     font-size: 100%;
    }
   
    #criar-nome-ing{
        height: 10px;
        max-width: 13.5em;
        min-width: 13.5em;
        font-size: 100%;
        padding: 10px;
        border-radius: 12px;
    }
    
    textarea:focus{
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
    #container select:hover, #container input:hover, #container textarea:hover{
        background-color: #f0f0f0;
    }
    #container button:hover{
        background-color: #a52525;
    }
    .grid{
        display: grid;
        grid-template-columns: 12em 10em;
        margin: 0 auto;
        grid-gap: 1em;
        align-items: flex-start;
        padding-top: 4%;

    }
    .area-nome{
        grid-column: 2;
        grid-row: 1;
        margin: 3%;
    }
    .area-categoria{
        grid-column: 2;
        grid-row: 2;
        margin: 3%;
    }
    .area-ingredientes{
        grid-column: 2;
        grid-row: 2;
        margin: 3%;
    }
    .area-medidas{
        grid-column: 1;
        grid-row: 3;
    }
    .area-var-padrao{
        grid-column: 2;
        grid-row: 3;
    }
    .area-outras-categorias{
        grid-column: 1;
        grid-row: 4;
    }
    .area-substitutos{
        grid-column: 1;
        grid-row: 5;
    }
    .area-descricao{
        grid-column: 1;
        grid-row: 6;
    }
    .Container button{
        grid-column: 1;
        grid-row: 7;
    }
    .grid > div.quadrado{
        grid-column: 1;
        grid-row: 1 / 2;
    }
    .area1{
        display: flex;
        flex-direction: column;
        position: relative;
        right: 4em;
        bottom: 1em;
        width: 200%;
    }
    .area2{
        display: flex;
        flex-direction: row;
        width: 200%;
        justify-content: space-between;
        position: relative;
        bottom: 1em;
    }
    .area3{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 9em;
        right: 16.2em;
        gap: 1em;
    }
    #form{
        justify-content: center;
        position: relative;
        top: 1em;
    }
    