.bloco1{
    border: 1px solid #c5c4c4;
    background-color: white;
    box-shadow: 2px 2px 5px #9F9F9F;
    max-width:45%;
    min-width: 45%;
    height: 250px;
    float: left;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 2%;
}
.bloco2{
    border: 1px solid #c5c4c4;
    background-color: white;
    box-shadow: 2px 2px 5px #9F9F9F;
    max-width:45%;
    min-width: 45%;
    height: 250px;
    float: right;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 2%;
}
.ContentHP{
    padding-left: 1%;
    padding-right: 1%;
    font-family: helvetica;
    display: flex;
    justify-content: space-around;
}
ul{
    list-style-type: none;
    position: relative;
    right: 20px;
    margin-top: 0;

}
.ContentHP button{
    border-radius: 12px;
    background-color: #B22828;
    color: white;
    border-color: #B22828;
    max-width: 60%;
    min-width: 60%;
    min-height: 20%;
    max-height: 50%;
    font-family: helvetica;
    font-size: 110%;
}
h1{
    font-family: helvetica rounded;
    color: #790000;
}
ul{
    color: #616161;
    font-size: 140%;
}
p{
    color: #616161;
    font-size: 110%;
    margin-top: 0;
}