.bloco1{
    border: 1px solid #c5c4c4;
    background-color: white;
    box-shadow: 2px 2px 5px #9F9F9F;
    width: 45%;
    height: 250px;
    float: left;
    border-radius: 12px;
}
.bloco2{
    border: 1px solid #c5c4c4;
    background-color: white;
    box-shadow: 2px 2px 5px #9F9F9F;
    width: 45%;
    height: 250px;
    float: right;
    border-radius: 12px;
    
}
.ContentHP{
    padding: 5%;
    position: relative;
    bottom: 45px;
    font-family: helvetica;
}
ul{
    list-style-type: none;

}
button{
    border-radius: 12px;
    
}