
   
   label{
    font-weight: bold;
    font-family: helvetica rounded;
   }
   select, input, textarea{
    color: gray;
    border-color: white;
    border-radius: 10px;
    font-family: helvetica;
   }
   textarea{
    font-family: helvetica;
    max-width: 24em;
    min-width: 24em;
    height: 100px;
    resize: none;
    font-size: 16px;
   }
   .Container button{
    background-color: #B22828;
    color: white;
    border-color: #B22828;
    max-width: 6em;
    min-width: 6em;
    height: 30px;
    font-family: helvetica;
    font-size: 90%;
    margin: 0;
    padding: 0;
   }
    input{
     border: 0 none;
     outline: 0;
    }
    select{
     font-size: 100%;
    }

    textarea:focus{
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
    .Container select:hover, .Container input:hover, .Container textarea:hover{
        background-color: #f0f0f0;
    }
    .Container button:hover{
        background-color: #a52525;
    }


    .section{
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        max-width: 30em;
        min-width: 30em;
        color: gray;
    }
    .div-ing{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ingredientes{
        height: 31px;
        max-width: 24.9em;
        min-width: 24.9em;
        font-size: 98%;
        padding: 5px;
    }
    .Qtd{
        border: 1px solid rgb(73, 73, 73, 0.3);   
    }
    .width{
        max-width: 30em;
        min-width: 30em;
    }
