.corpo{
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 33em;
    max-height: 33em;
}
.corpo h1{
    font-size: 1.5em;
    color: #666666;
    font-family: helvetica rounded;
   }
   .corpo span{
    font-family: helvetica rounded;
    color: #f74040;
    font-size: 1.3em;
   }
  .corpo p{
    color: gray;
  }
  .corpo h2{
   position: fixed;
   bottom: 90%;
   left: 5%;
  }
  #tabela-substitutos{
   max-width: 15em;
   min-width: 15em;
   height: 24%;
   font-family: helvetica rounded;
   font-size: 1.3em;
   border-radius: 12px;  
   border: 1px solid #dbdbdb; 
   padding: 0.8%;
   display: flex;
   flex-direction: column;
  }
  .corpo a{
   text-decoration: none;
  }
  a:link, a:visited{
   color: #a6a6a6;
  }
  a:hover{
   color: #b3b3b3;
  }
  .imagem-quadrado{
    width: 8em;
   }
   .corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
   }
   .ingsReceita{
    list-style-type: disc;
    color:#808080;
    font-family: helvetica ;

   }
   .preparo{
    color:#808080;
    font-family: helvetica ;
   }