.fundo-rosa{
    background-color: #E3B4B4;
}
.blend-mode{
    mix-blend-mode: multiply;
}
.HeaderHP{
    width: 100%;
    margin: 2%;
}
.logo{
    max-width: 8em;
    min-width: 8em;
}
#home select:hover, #home input:hover, #home textarea:hover{
    background-color: #f0f0f0;
}
#home button:hover{
    background-color: #a52525;
}