    body{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    background-color: #E3B4B4;
    }

    *{
        font-family: helvetica;
    }
    
    /*@media screen (min-width: 1024px) {
        #main { min-width: 1000px }
    }
    */