    body{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    background-color: #E3B4B4;
    }

    *{
        font-family: helvetica;
    }
    
    ::selection {
        background-color: rgb(255, 90, 90);
        color: rgb(255, 255, 255);
    }