#ingrediente {
    display: flex;
    min-height: 80px;
    max-height: 80px;
    align-items: center;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 15px;
    border-color: rgb(218, 218, 218);
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    color: #616161;
}

#ingrediente .componente {
    display: block;
    width: 100%;
    height: 100%;

}

#ingrediente #nome {
    flex: 0.5;
}
#ingrediente #qtd {
    flex: 0.1;
}
#ingrediente #medida {
    flex: 0.1;
}

#ingrediente .buttons {
    flex: 0.3;
    display: flex;
    height: 100%;
}

#ingrediente .buttons button {
    margin: 0 16px 0 0px;
    height: 100%;
    flex: 1;
    align-self: center;
    color: aliceblue;
    text-align: center;
    font-size: 32px;
    background-color: #FF2323;
    display: block;
    border-style: solid;
    border-color:  #F2AEAE;
    border-width: 2px;
    border-radius: 5px;
}

#ingrediente .buttons button:hover {
    background-color: #d42121;
}
#ingrediente .buttons button:active {
    background-color: rgb(187, 27, 27);
}