.Container{
    margin: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.quadrado{
    
    max-width: 7em;
    min-width: 7em;
    
} 

.categoria{
    height: 31px;
    max-width: 15em;
    min-width: 15em;
    font-size: 98%;
   }
   .medida, .var-padrao{
    height: 31px;
    max-width: 12em;
    min-width: 12em;
    font-size: 98%;
    
   }
   .outras-categorias, .substitutos{
    height: 31px;
    max-width: 15em;
    min-width: 25em;
    font-size: 98%;
    
   }
   label{
    font-weight: bold;
    font-family: helvetica rounded;
   }
   select, input, textarea{
    color: gray;
    border-color: white;
    border-radius: 10px;
    font-family: helvetica;
   }
   textarea{
    font-family: helvetica;
    max-width: 24em;
    min-width: 24em;
    height: 100px;
    resize: none;
    font-size: 16px;
   }
   .Container button{
    background-color: #B22828;
    color: white;
    border-color: #B22828;
    max-width: 6em;
    min-width: 6em;
    height: 30px;
    font-family: helvetica;
    font-size: 90%;
    margin-left: 21em;
   }
   .Container button:hover{
    cursor: pointer;
   }
    input{
     border: 0 none;
     outline: 0;
    }
    select{
     font-size: 100%;
    }
   
    #criar-nome-ing{
        height: 10px;
        max-width: 13.5em;
        min-width: 13.5em;
        font-size: 100%;
        padding: 10px;
        border-radius: 12px;
        
    }
    
    textarea:focus{
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
    #container select:hover, #container input:hover, #container textarea:hover{
        background-color: #f0f0f0;
    }
    #container button:hover{
        background-color: #a52525;
    }
